@import url('https://fonts.googleapis.com/css2?family=Bungee&family=DM+Sans&family=Source+Code+Pro&display=swap');

* { margin: 0 }

body {
  background-color: black;
  color: white;
  font-family: "DM Sans";
}

h1, label { font-family: Verdana; font-size: 25px; padding-left: 20px; }


#submit, #urlInput { vertical-align: middle; } 

input {
  background-color: inherit;
  color: inherit;
  border: 1px solid white;
  height: 25px;
  width: 600px;
  font-size: 15px;
  font-family: "Source Code Pro";
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.navButton {
  padding: 7px;
  background-color: black;
  color: inherit;
  border: none;
  border-radius: 15px;
  font-size: 17px;
  cursor: pointer;
}

.urlButton {
  background-color: black;
  color: inherit;
  border: none;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

#navButtons {
  position: fixed;
  right: 0;
  padding: 15px;
}

#settings div {
	text-align: center;
  border: 1px solid white;
  border-radius: 15px;
  background-color: black;
  padding: 20px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
}

